@model IslamDewsburyWebsite.Models.DonateResultViewModel

@{
    bool result = Model.PaymentSuccessful;
    string donationResultStatus = Model.PaymentSuccessful ? "Donation Succeeded" : "Donation Failed";

    string paymentTypeSpecificMsg = string.Empty;
    switch (Model.PaymentType)
    {
        case IslamDewsburyWebsite.Models.PaymentType.OneOff:
            paymentTypeSpecificMsg = "as a one-off payment.";
            break;
        case IslamDewsburyWebsite.Models.PaymentType.Monthly:
            paymentTypeSpecificMsg = "on a monthly Direct Debit.";
            break;
        case IslamDewsburyWebsite.Models.PaymentType.LastTenNights:
            paymentTypeSpecificMsg = "to be taken out every night over the last 10 nights of Ramadaan. In sha Allah you will be guaranteed this ajr for Laylatul Qadr.";
            break;

    }

    ViewBag.Title = donationResultStatus;
}

<h1>
    @donationResultStatus
</h1>

<hr />

<div class="box" style="font-size:18px;">
    @if (Model.PaymentSuccessful)
    {
        <img src="~/Content/Images/GreenTick.jpg" width="70" height="70" style="float:left; margin-right:20px;" />

        <p>
            Jazakumullahu khayr @Model.DonorName !
        </p>
        <p style="margin-top:15px;">
            Your donation of @Model.Payment has been processed @paymentTypeSpecificMsg
        </p>
        <p style="margin-top:15px;">
            May Allah accept it from you and make it heavy on your scale of deeds. Aameen
        </p>
    }
    else
    {
        <img src="~/Content/Images/RedCross.jpg" width="70" height="70" style="float:left; margin-right:20px;" />

        <p>
            Unfortunately an error occurred whilst trying to process this payment.
            <b>Please try again.</b>
        </p>
        <p style="margin-top:15px;">
            <i>Jazakumullahu khayr</i>
        </p>
    }
</div>