@model IslamDewsburyWebsite.Models.GenericViewModel

@{
    ViewBag.Title = "Donation succeeded";
}

<div class="row">
    <div class="col col-sm-12 myHeading">
        Donation succeeded
    </div>
</div>