@model IslamDewsburyWebsite.Models.GenericViewModel

@{
    ViewBag.Title = "Islamic Studies";
}

<div class="row">
    <div class="col col-sm-12 myHeading">
        Islamic Studies (Brothers and Sisters)
    </div>
</div>

<div class="row">

    <div class="col col-sm-4 marginBelowHeading">
        <img src="~/Content/Images/LatestNewsAndEvents/IslamicStudies_Medium.jpg" title="Islamic Studies" style="border: 1px solid black; width:100%" />
    </div>

    <div class="col col-sm-8 marginBelowHeading">
        <p>
            Islam is the religion of knowledge. The first aayah of the Qur’aan to be revealed enjoined reading which is the key to knowledge.
            <br />
            <br />
            The Prophet (peace and blessings of Allaah be upon him) said: <strong>“When Allaah wishes good for a person, He makes him understand the religion.”</strong> (Bukhari)
            <br />
            <br />
            Concerning the matter of paying attention to the Qur’aan and learning and teaching it, the Messenger (peace and blessings of Allaah be upon him) said: <strong>
                “The best of you is the one who learns the Qur’aan and teaches it.”
            </strong> (Bukhaari)
            <br />
            <br />
            Islam Dewsbury is introducing a new <strong><i>Islamic Studies</i></strong> class for brothers across all ages. Our new imam, Ustaad Hussain Sattar will teach:
            <ol>
                <li>Tauheed</li>
                <li>Fiqh</li>
                <li>Hadith</li>
                <li>Seerah</li>
                <li>Tafseer</li>
                <li>Adab</li>
            </ol>
            Every <strong>Thursday</strong> at <strong>7pm</strong> &nbsp; &nbsp; (from 7th September)
        </p>
    </div>
</div>