@model IslamDewsburyWebsite.Models.GenericViewModel

@{
    ViewBag.Title = "Taleemul Qur'aan - Urdu";
}

<div class="row">
    <div class="col col-sm-12 myHeading">
        Taleemul Qur'aan - Urdu (Sisters only)
    </div>
</div>

<div class="row">

    <div class="col col-sm-4 marginBelowHeading">
        <img src="~/Content/Images/LatestNewsAndEvents/TaleemulQuraan_Medium.jpg" title="Taleemul Quraan in Urdu" style="border: 1px solid black;  width:100%" />
    </div>

    <div class="col col-sm-8 marginBelowHeading">
        <p>
            Allah SWT says:
            <br />
            <br />
            <strong>
                “[This is] a blessed Book which We have revealed to you, [O Muhammad], that they might reflect upon its verses and that those of understanding would be reminded.”
            </strong> [Quran, 38: 29]
            <br />
            <br />
            The above mentioned Ayah clearly signifies that it is spiritual duty of a Muslim to reflect upon the holy verses which is only possible when they are read in understandable language.
            <br />
            <br />
            Islam Dewsbury is introducing an <strong><i>Urdu Word-to-Word Qur'aan translation</i></strong> class for sisters above the age of 16. It is based on the lectures of Dr Farhat Hashmi of Al Huda.
            <br />
            <br />
            Every <strong>Wednesday</strong> from <strong>10.30am - 2.15pm by Sister Nabilah</strong> &nbsp; (from 6th September).
            <br />
            <br />
            Please contact Sister Marium for more info - 07970 365 174
        </p>
    </div>
</div>
