@model IslamDewsburyWebsite.Models.GenericViewModel

@{
    ViewBag.Title = "Weekly Schedule";
}

<div class="row">
    <div class="col col-sm-12 myHeading">
        Weekly Schedule (Brothers &amp; Sisters)
    </div>
</div>

<div class="row">

    <div class="col col-sm-8 marginBelowHeading">
        <img src="~/Content/Images/LatestNewsAndEvents/WeeklyClasses.jpg" title="Weekly Schedule" style="border: 1px solid black; width:100%" />
    </div>

    <div class="col col-sm-4 marginBelowHeading">
        <strong>Monday</strong> - Quran Tajweed Class (Brothers)
        <br /><br />
        <strong>Tuesday</strong> - Quran Tajweed Class (Sisters) / English Quran Tafseer Class (Sisters)
        <br /><br />
        <strong>Wednesday</strong> - Urdu Quran Tafseer Class (Sisters)
        <br /><br />
        <strong>Thursday</strong> - Islamic Studies (Brothers)
        <br /><br />
        <strong>Sunday</strong> - Arabic (Brothers &amp; Sisters)
    </div>

</div>
