@model IslamDewsburyWebsite.Models.GenericViewModel

@{
    ViewBag.Title = "Madrassah";
}

<div class="row">
    <div class="col col-sm-12 myHeading">
        Madrassah
    </div>
</div>

<div class="row">

    <div class="col col-sm-4 marginBelowHeading">
        <img src="~/Content/Images/LatestNewsAndEvents/Madrassah_Medium.jpg" title="Madrassah" style="border: 1px solid black; width:100%" />
    </div>

    <div class="col col-sm-8 marginBelowHeading">
        <p>
            The evening madrassah takes place from Monday to Friday between 5pm to 7pm on a regular basis. The classes are available for boys and girls. 
            Both sets of classes are separate. The boys are taught by male teachers from around 8 years onwards. The girls classes are always taught by female teachers.
            All students are taught Quran and Islamic Studies (including Aqidah). 
        </p>
        <p>
            For admission queries, please contact Aqeel on 07827 963 264 or Rizwan Ishaq on 07592 635 501
        </p>
    </div>

</div>