@model IslamDewsburyWebsite.Models.GenericViewModel

@{
    ViewBag.Title = "Sisters";
}

<div class="row">
    <div class="col col-sm-12 myHeading">
        Sisters
    </div>
</div>

<div class="row">

    <div class="col col-sm-8 marginBelowHeading">
        <img src="~/Content/Images/LatestNewsAndEvents/WeeklyClassesForSisters.jpg" title="Sisters" style="border: 1px solid black; width:100%" />
    </div>

    <div class="col col-sm-4 marginBelowHeading">
        <strong>Tuesday</strong> - Quran Tajweed Class from 11am-1pm
        <br /><br />
        <strong>Tuesday</strong> - English Taleemul Qur'aan Class from 5.15-6.45pm
        <br /><br />
        <strong>Wednesday</strong> - Urdu Taleemul Qur'aan Class from 10.30am-2.15pm
        <br /><br />
        <strong>Sunday</strong> - Arabic Classes (Intermediate from 9.45-11.45am & Beginners from 1-3pm)
    </div>

</div>

<div class="row">

    <div class="marginBelowHeading marginLeft">
        <p>
            Alhamdulillah Islam Dewsbury was the first masjid in Dewsbury to provide a completely separate facility for Sisters. We understand the importance of the Sisters
            having an attachment to the Masjid and having a suitable environment that caters for this. Therefore on our ground floor, you will find a big room that can accomodate
            up to around 200 sisters at a time.
        </p>
        <p>
            The Sisters facility is used for the following purposes:-
            <ul>
                <li>Weekly Classes (such as Taleemul Qur'aan, Tajweed and Arabic)</li>
                <li>Salaah (in Jamaah or by yourself)</li>
                <li>Jummah Khutbah with Salaah</li>
                <li>Taraweeh prayers</li>
            </ul>
        </p>
    </div>

</div>