@model IslamDewsburyWebsite.Models.AdminSalaahTimesViewModel

    @{
        ViewBag.Title = "Monthly Salaah Times";
    }

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Monthly Salaah Times
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                @*@Html.DropDownListFor(x => x.MonthNames,)*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">


            </div>
            <div class="col-md-3 col-md-offset-1">

            </div>
        </div>
    </div>
